<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsex - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body class="login-body" style="background-color: rgb(202, 202, 202);">

    <h1>MICROSEX</h1>
    <div class="login-box">
        <h2>LOGIN</h2>
        <form onsubmit="return loginUser()">
            <label>Email or Nickname</label><br>
            <input type="text" id="email"><br>

            <label>Password</label><br>
            <input type="password" id="password"><br><br>
            <button type="submit">REGISTER</button><br><br>

            <label>WITHOUT LOGIN</label><br>
            <input type="text" placeholder="Escriba su matrícula" id="matricula"><br><br>
            <button onclick="goToMenu()">Continuar</button>
        </form>
    </div>

    <script>
        function loginUser() {
            alert("Login simulado.");
            return false;
        }

        function goToMenu() {
            const matricula = document.getElementById("matricula").value;
            if (matricula.trim() !== "") {
                window.location.href = "{{ url_for('main') }}?matricula=" + encodeURIComponent(matricula);
            } else {
                alert("Por favor, ingresa tu matrícula.");
            }
        }
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

</html>
